$colorLightPrimary                : #FFFFFF;
$colorLightSecondary              : #F7F7F7;
$colorLightThird                  : #CCCCCC;

$colorDarkPrimary                 : #121B22;
$colorDarkSecondary               : #444444;
$colorDarkThird                   : #495057;

$colorBluePrimary                 : #0098EF;
$colorBlueSecondary               : #28C0FF;
$colorBlueThird                   : #e5f1f7;

$colorYellowPrimary               : #E39A2D;
$colorYellowSecondary             : #FFBE58;

$colorGreenPrimary                : #448700;

$colorRedPrimary                  : #870000;