$transitionDurationPrimary        : 0.2s;
$transitionDurationSecondary      : 0.5s;
$transitionFunctionPrimary        : ease-in-out;
$transitionFunctionSecondary      : cubic-bezier(.4,0,.2,1);

$borderRadiusPrimary              : 5px;
$borderRadiusSecondary            : 10px;

$mainFont: 'Lato', Helvetica, sans-serif;
$thirdFont: 'HelveticaNeueCyr', Helvetica, sans-serif;
$secondFont: 'Montserrat', Arial, sans-serif;