$colorGreyLight1: #E4EBF5;
$colorGreyLight2: #c8d0e7;
$colorGreyLight3: #bec8e4;
$colorGreyDark: #9EA7AE;

.checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  padding: 4px 0;
}
.checkbox input {
  display: none;
}
.checkbox__1 {
  width: 22px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
}
.checkbox__1 label {
  box-shadow: inset 0.2rem 0.2rem 0.5rem #c8d0e7, inset -0.2rem -0.2rem 0.5rem #FFFFFF;
  border: 1px solid #E8E9EC;
  cursor: pointer;
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  border-radius: 6px;
  width: 22px;
  height: 22px;
}

.checkbox__1 label i {
  font-size: 14px;
  color: transparent;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}
.checkbox__1 input:checked ~ label{

}
.checkbox__1 input:checked ~ label i {
  color: $colorDarkPrimary;
}
.checkbox__label-name {
  position: absolute;
  top: 50%;
  left: 100%;
  margin-left: 10px;
  transform: translateY(-50%);
  width: 110px;
  line-height: 1.2;
}