$colorInputBorder                 : var(--iq-border-dark);
$colorInputText                   : var(--iq-dark-body-text);
$colorInputTextFocus              : var(--iq-dark-body-text);

select {
  border: 2px solid $colorInputBorder;
}

textarea {
  width: 100%;
  resize: vertical;
}

input[type='text'],
input[type='email'],
input[type='url'],
input[type='password'],
input[type='search'],
input[type='number'],
input[type='tel'],
input[type='range'],
input[type='date'],
input[type='month'],
input[type='week'],
input[type='time'],
input[type='datetime'],
input[type='datetime-local'],
input[type='color'],
textarea {
  &:focus {
    color: $colorInputTextFocus;
  }
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}

//input[type='number'] {
//  -moz-appearance: textfield;
//}
//input[type='number']::-webkit-outer-spin-button,
//input[type='number']::-webkit-inner-spin-button {
//  margin: 0;
//  -webkit-appearance: none;
//}

.inputField {
  min-height: 40px;
  padding: 0 12px;
  color: $colorInputTextFocus;
  border: 1px solid #ddd;
  border-radius: $borderRadiusPrimary;

  &::-webkit-input-placeholder {
    color: $colorInputText;
  }
  &::-moz-placeholder {
    color: $colorInputText;
  }
  &:-ms-input-placeholder {
    color: $colorInputText;
  }
  &::placeholder {
    color: $colorInputText;
  }

  &:focus {
    color: $colorInputTextFocus;
  }

  &:disabled {
    &::-webkit-input-placeholder {
      color: $colorLightSecondary;
    }
    &::-moz-placeholder {
      color: $colorLightSecondary;
    }
    &:-ms-input-placeholder {
      color: $colorLightSecondary;
    }
    &::placeholder {
      color: $colorLightSecondary;
    }
  }

  &_invalid {
    border: 1px solid $colorRedPrimary;
    box-shadow: 0 4px 12px 0 rgba(126,27,0,0.1);

    &:hover,
    &:focus {
      border: 1px solid $colorRedPrimary;
      box-shadow: 0 4px 12px 0 rgba(126,27,0,0.1);
    }
  }
}





