$colorLinkButtonFilledText        : $colorLightPrimary;
$backgroundLinkButtonFilled       : $colorBluePrimary;
$backgroundLinkButtonFilledHover  : $colorBlueSecondary;

.link-button {
  display: inline-block;
  padding: 8px 24px!important; /*bootstrap destroy this styles*/
  overflow: hidden;
  text-align: center;
  border: none;
  border-radius: $borderRadiusPrimary;
  cursor: pointer;
  transition: color, background, box-shadow, $transitionDurationPrimary $transitionFunctionSecondary;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;





  &_filled {
    color: $colorLightPrimary!important;
    box-shadow: 0 2px 0 #0088DF,
    inset 0 2px rgba(255,255,255,0.1);
    background: $colorBluePrimary;
    font-size: 16px;
    padding: 13px 32px;

    &:hover {
      background: $colorBlueSecondary;
      box-shadow: 0 2px 0 #19B1F0,
      inset 0 2px rgba(255,255,255,0.1);
    }

    &:active {
      background: #0073aa;
      box-shadow: inset 0 2px 0 #006799,
      inset 0 2px rgba(255,255,255,0.1);
    }
  }

  &_blink {
    &:before {
      position: absolute;
      content: '';
      top: -50%;
      right: -50%;
      bottom: -50%;
      left: -50%;
      width: 200%;
      height: 40px;
      background: linear-gradient( to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0));
      transform: rotateZ(60deg) translate(0, 8000%);
      animation: sheen 5s infinite ease-in-out 2s;
    }
  }

  &_default {
    color: $colorLightPrimary!important;
    background: $colorBlueSecondary;

    &:hover {
      color:  $colorLightPrimary!important;
      background: $colorLinkButtonFilledText;
    }
  }

  &_light {
    color:  $colorBluePrimary!important;
    background: $colorLightPrimary;
    box-shadow: 0 0 0 1px $colorBluePrimary;

    &:hover {
      color:  $colorLightPrimary!important;
      background:  $colorBlueSecondary;
      box-shadow: 0 0 0 1px $colorBlueSecondary;
    }
  }
}
@keyframes sheen {
  100% {
    transform: rotateZ(60deg) translate(0, -800%);
  }
}













