$colorInputPlaceholder : $colorBluePrimary;
.search-block {
  $self: & ;

  &__form {
    position: relative;
    flex-direction: row;
    align-items: center;
    height: 40px;
    margin-left: auto;
    transition: width $transitionDurationSecondary $transitionFunctionSecondary;
    @media ($largeTabletsMin) {
      display: flex;
    }
  }

  &__input {
    padding: 0 8px 0 30px;
    text-transform: unset;
    background: $colorLightPrimary;
    font-size: 14px;
    width: 100%;
    max-width: 100%;
    min-height: 30px;
    border: 1px solid $colorBluePrimary;
    border-right: none;
    border-radius: $borderRadiusPrimary 0 0 $borderRadiusPrimary;
    transition: box-shadow $transitionDurationPrimary $transitionFunctionPrimary;
    color: $colorBluePrimary!important;

    &:focus {
      color: $colorInputPlaceholder;
    }

    &::-webkit-input-placeholder {
      color: $colorInputPlaceholder;
    }
    &:-ms-input-placeholder {
      color: $colorInputPlaceholder;
    }
    &::-moz-placeholder {
      color: $colorInputPlaceholder;
    }
    &::placeholder {
      color: $colorInputPlaceholder;
    }
  }

  &__button {
    position: relative;
    display: flex;
    align-items: center;
    height: 30px;
    padding: 12px 10px;
    background: $colorBluePrimary;
    border-radius: 0 $borderRadiusPrimary $borderRadiusPrimary 0;
    border: 1px solid $colorBluePrimary;
    border-left: none;
    cursor: pointer;
    opacity: 1;
    transition: all $transitionDurationPrimary $transitionFunctionPrimary;
    color: $colorLightPrimary;

    &:after {
      position: absolute;
      top: 50%;
      left: 50%;
      color: $colorLightPrimary;
      font-size: 20px;
      //content: '\f105';
      font-family: fontawesome;
      transform: translate(-50%, -50%);
    }
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 8px;
    transform: translateY(-50%);
    display: block;
    width: 30px;
    color: $colorBluePrimary;
    height: 20px;
    font-size: 13px;
    transition: color $transitionDurationPrimary $transitionFunctionPrimary;
  }
}