$colorHeaderBg: #1e2745;
.header {
    position: sticky;
    top: 0;
    z-index: 9;
    width: 100%;
    min-height: 64px;
    background: $colorHeaderBg;
    box-shadow: 0 0 20px 0 rgba(44, 101, 144, 0.1);
}
.logoLink {
    display: flex;
    align-items: center;
    padding: 10px 16px;
}
.logoImg {
    height: 24px;
    margin-right: 10px;
    object-fit: contain;
}
.logoTxt{
    color: #8c91b6;
    font-size: 28px;
    line-height: 45px;
}