.header {
    grid-area: header;

    display: flex;
    /*position: fixed;*/
    /*top: 0;*/
    /*right: 0;*/
    /*left: auto;*/
    /*z-index: 9999;*/

    /*width: 100%;*/
    /*min-height: 73px;*/
    /*padding: 0 15px;*/

    background-color: var(--iq-dark-box);
    box-shadow: 0 0 20px 0 rgba(44, 101, 144, 0.1);
    line-height: 73px;
}
.logoLink {
    display: flex;
    padding: 10px 0;
}
.logoImg {
    width: 60px;
    object-fit: contain;
}