.sidebar {
    grid-area: sidebar;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    background-color: var(--iq-dark-box);
    box-shadow: 0 0 20px 0 rgba(44, 101, 144, 0.1);
}

.list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 15px;
    padding: 15px 0;
    list-style-type: none;
}

.item {

}

.item.active {

}

.item a {
    display: flex;
    border-radius: 5px;
    list-style-type: none;
    position: relative;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
    white-space: nowrap;
    padding: 15px;
    align-items: center;
    overflow: hidden;
}

.item a:hover {
    color: var(--iq-primary);
}
.item a.active {
    color: var(--iq-primary);
    background-color: var(--iq-dark-primary);
}




