.item {

}

.item.active {

}

.item a {
    display: flex;
    border-radius: 5px;
    list-style-type: none;
    position: relative;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
    white-space: nowrap;
    padding: 15px;
    align-items: center;
    overflow: hidden;
}

.item a:hover {
    color: var(--iq-primary);
}
.item a.active {
    color: var(--iq-primary);
    background-color: var(--iq-dark-primary);
}




