.main {
    display: grid;
    grid-gap: 16px;
    grid-template-rows: auto;
    grid-template-areas:
      "sidebar content";
    grid-template-columns: 3fr 9fr;
}

.content {
    grid-area: content;
    padding-top: 16px;
}
